<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324765738346-bburni30n0938e6kfftabitt91bmb1mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324765738346-bburni30n0938e6kfftabitt91bmb1mi</string>
	<key>API_KEY</key>
	<string>AIzaSyDFwRjPE6AkG-E7O3zFMg-_2oqi8MbzDNM</string>
	<key>GCM_SENDER_ID</key>
	<string>324765738346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uliana.CineworldApp</string>
	<key>PROJECT_ID</key>
	<string>cineworldapp-8475b</string>
	<key>STORAGE_BUCKET</key>
	<string>cineworldapp-8475b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324765738346:ios:7cef18c176b89d0da4b113</string>
	<key>DATABASE_URL</key>
	<string>https://cineworldapp-8475b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>